{% extends "::layoutplay.html.twig" %}
{% block content %}
<h3>Statistics</h3>
<p>
Name {{ nick }}<br>
Exp {{ exp }} <br>
HP {{ hp }} <br>
Stamina {{ stam }} <br>
Str {{ str }} <br>
Gold {{ gold}} <br>
</p>
{% endblock %}
